{% extends "schools/layout.html" %}

{% block body %}
<main role="main" class="container">
    <h1>Русские школы в Австралии</h1>
    <form method="GET">
      <div> {{ filter.form.as_p }}</div>
      <button type="submit" class="btn btn-primary">Поиск</button>
      {% if has_filter %}
        <a href="{% url 'schools:index' %}">Показать все школы</a>
      {% endif %}
    </form>
    <table class="table">
      <thead>
        <th>Название</th>
        <th>Адрес</th>
        <th>Сайт</th>
        <th>Часы работы</th>
        <th>Программа</th>
      </thead>
      <tbody>
        {% for school in filter.qs %}
        <tr>
          <td>{{ school.name }}</td>
          <td>{{ school.address_line }} {{ school.suburb }}</td>
          <td>{{ school.website }}</td>
          <td>{{ school.working_hours }}</td>
          <td>{{ school.details }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</main>


{% endblock %}