{% extends "schools/layout.html" %}

{% block body %}

<div class="container">
    <form method="GET">
      <div>{{ filter.form.as_p }}</div>
      <button type="submit" class="btn btn-success mb-2 mr-sm-2">Поиск</button>
      {% if has_filter %}
        <a href="{% url 'schools:index' %}">Показать все школы</a>
      {% endif %}
    </form>
    <table class="table">
      <thead>
        <th>Название</th>
        <th>Адрес</th>
        <th>Сайт</th>
        <th>Соц. сети</th>
        <th>Часы работы</th>
        <th>Программа</th>
      </thead>
      <tbody>
        {% for school in filter.qs %}
        <tr>
          <td>{{ school.name }}</td>
          {% if school.google_map_link %}
            <td><a href="{{ school.google_map_link }}" target="_blank">{{ school.address_line }}, {{ school.suburb }}</a></td>
          {% else %}
            <td>{{ school.address_line }}, {{ school.suburb }}</td>
          {% endif %}
          <td><a href="{{ school.website }}" target="_blank">{{ school.website }}</a></td>
          <td><a href="{{ school.social_media}}" target="_blank">Facebook</a></td>
          <td>{{ school.working_hours }}</td>
          <td>{{ school.details }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}