<div class="container">
    <div class="navbar navbar-dark bg-dark shadow">
        <a class="navbar-brand" href="/schools">Обучение на русском языке в Австралии</a>
        <a href="{% url 'users:login' %}">Зайти как</a>
        <!--button class="btn btn-success float-right" type="submit">Зайти как</button-->
    </div>
    <div class="jumbotron jumbotron-fluid text-center">
        <div>
            <h1>Обучение на русском языке в Австралии</h1>
            <p>Здесь вы можете найти школы, в которых занятия ведутся на русском языке</p>
        </div>
    </div>
</div>