{% extends "layout.html" %}

{% load widget_tweaks %}

{% block body %}

<div class="container" id="content">
  <div>
    <!-- filter for a school search -->
    <form class="form-inline" method="GET">

      {{ filter.form.name.label_tag }}
      {% render_field filter.form.name class="m-2" %}

      {{ filter.form.state.label_tag }}
      {% render_field filter.form.state class="m-2" %}

      <button type="submit" class="btn btn-success m-2" id="search">Поиск</button>

      {% if has_filter %}
        <a class="m-2" href="{% url 'schools:schools' %}">Показать все школы</a>
      {% endif %}
    
    </form>
  </div>
    <table class="table">
      <thead>
        <th>Название</th>
        <th>Адрес</th>
        <th>Сайт</th>
        <th>Соц. сети</th>
        <th>Часы работы</th>
        <th>Программа</th>
      </thead>
      <tbody>
        {% for school in filter.qs %}
        <tr>
          <td>{{ school.name }}</td>
          {% if school.google_map_link %}
            <td><a href="{{ school.google_map_link }}" target="_blank">{{ school.address_line }}, {{ school.suburb }}</a></td>
          {% else %}
            <td>{{ school.address_line }}, {{ school.suburb }}</td>
          {% endif %}
          <td><a href="{{ school.website }}" target="_blank">{{ school.website }}</a></td>
          <td><a href="{{ school.social_media}}" target="_blank">Facebook</a></td>
          <td>{{ school.working_hours }}</td>
          <td>{{ school.details }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}