asgiref==3.2.10
# Django 
Django==3.1
# to manage env variables for settings.py
django-environ==0.4.5
# filters
django-filter==2.3.0
# django forms
django-widget-tweaks==1.4.8
# WSGI
gunicorn==20.0.4
# PostgreSQL
psycopg2-binary==2.8.5
pytz==2020.1
sqlparse==0.3.1
