body {
    margin: 0;
    font-family: 'Aleo';
}

.flex-container {
    display: flex;
    flex-direction: row;
    max-width: 900px;
}

.jumbotron {
    background-color: azure;
}

h1 {
    color: green;
}

.btn.btn-primary.float-right {
    background-color: red !important;
}
